<nav class="navbar bg-dark navbar-light justify-content-center p-3 mb-2">
  <a class="navbar-brand text-white" href="#">
    <img
      src="https://cdn.icon-icons.com/icons2/413/PNG/256/TD_Bank_41068.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    TO-DO List
  </a>
</nav>
<app-form-todow [objTodo]="init" (formData)="add($event)"></app-form-todow>
<div class="container mt-5">
  <ul class="list-group" *ngFor="let obj of tab">
    <li class="list-group-item" [ngClass]="{ active: obj.stateTodo === state }">
      <button type="button" class="btn btn-info" (click)="goToEdit(obj)">
        Edit
      </button>
      <input
        type="checkbox"
        aria-label="Checkbox for following text input"
        class="mx-5"
        id="state"
        [checked]="obj.stateTodo === state"
        (change)="changeState(obj, $event)"
      />

      {{ obj.title }}
    </li>
  </ul>
</div>
